.welcome {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--bg-color);
    padding: var(--space-l);
}

.welcome .container {
    width: 100%;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-3xl);
    margin: var(--space-2xl) 0;
    z-index: 1;
}

.welcome .container .card {
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.welcome .container .card .icon {
    margin-bottom: var(--space-s);
}

.welcome .container .card h5 {
    margin-bottom: var(--space-s);
    white-space: nowrap;
}

.welcome .container .card p {
    text-align: left;
    margin-bottom: var(--space-s);
}

.welcome .container .card a {
    color: var(--primary-color);
    cursor: pointer;
}

.welcome .container .card a span {
    display: inline-block;
    margin-left: var(--space-2xs);
    transition: 0.5s;
}

.welcome .container .card a:hover > span {
    translate: 4px;
}
