.navbar {
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: var(--bg-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar::before {
    content: "";
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

nav {
    position: relative;
    height: 100%;
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space-m);
}

nav .logo {
    color: var(--text-color);
}

nav ul {
    display: flex;
    justify-content: center;
    margin: auto;
}

nav ul li {
    margin: 0 var(--space-xs);
    position: relative;
}

nav ul li::after {
    content: "";
    width: 0%;
    height: 1px;
    position: absolute;
    bottom: -6px;
    left: 0;
    background-color: var(--text-color);
    transition: width 0.3s ease-in-out;
}

nav ul li:hover::after, 
nav ul li.active::after {
    width: 100%;
}

nav ul li a {
    color: var(--text-color);
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
}

nav ul li a .icon {
    display: none;
    font-size: 18px;
    color: var(--text-color);
    opacity: 0.5;
    margin-right: var(--space-xs);
}

.button-wrapper {
    display: flex;
    column-gap: var(--space-s);
    align-items: center;
}

.hamburger {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 999;
}

.hamburger-icon {
    width: 25px;
    height: 1px;
    background-color: var(--text-color);
    display: none;
    position: relative;
    transition: 0.5s;
}

.hamburger-icon::before {
    content: "";
    width: 25px;
    height: 1px;
    position: absolute;
    top: -10px;
    left: 0;
    background-color: var(--text-color);
    transition: 0.5s;
}

.hamburger-icon::after {
    content: "";
    width: 25px;
    height: 1px;
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: var(--text-color);
    transition: 0.5s
}

.hamburger-icon.active {
    width: 0;
}

.hamburger-icon.active::before {
    top: 0px;
    rotate: 45deg;
    background-color: var(--text-color);
    opacity: 0.7;
}

.hamburger-icon.active::after {
    bottom: 0px;
    rotate: -45deg;
    background-color: var(--text-color);
    opacity: 0.7;
}

#fullscreen {
    display: block;
    padding: 6px 16px;
}

#mobile {
    display: none;
    padding: 6px 16px;
}

@media screen and (max-width: 960px) {
    #fullscreen {
        display: none;
    }
    
    #mobile {
        display: block;
    }

    nav ul {
        width: 70%;
        max-width: 400px;
        height: 100vh;
        position: absolute;
        top: 59px;
        right: -70%;
        background-color: var(--bg-color);
        flex-direction: column;
        justify-content: flex-start;
        overflow: auto;
        transition: 0.5s;
        padding: var(--space-l) var(--space-s);
        border-left: 1px solid rgba(0, 0, 0, 0.1);

    }

    nav ul.active {
        right: 0;
    }

    nav ul li { 
        padding: var(--space-xs);
        margin: 0;
        border-radius: 8px;
    }

    nav ul li:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    nav ul li.active {
        background-color: rgba(0, 0, 0, 0.1);
    }

    nav ul li:last-child {
        margin-bottom: 160px;
    }
    
    nav ul li a {
        color: rgba(2, 3, 1, 0.6);
    }

    nav ul li a .icon {
        display: inline;
    }

    nav ul li::after {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }
}

