.about {
    background-color: var(--bg-color);
    padding: 10rem 0 10rem 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 80px;
    text-align: center;
}

.about .container .row {
    max-width: 1440px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--space-xl);
    /* padding: var(--space-2xl) 0; */
}

.about .container .row .col {
    max-width: 600px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    align-items: left;
    padding: var(--space-m);
}

.about .container .row .col p {
    margin-bottom: var(--space-l);
    opacity: 0.7;
}

.about .container .row .col h3 {
    margin-bottom: var(--space-s);
}

.image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.about .container .row .col .button {
    width: fit-content;
    padding: 12px 20px;
    font-weight: 400;
    font-size: var(--step-0);
    color: var(--primary-color);
    background-color: var(--bg-color);
    border: solid 2px;
    border-color: var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.about .container .row .col .button:hover {
    background-color: var(--bg-dark);
}

@media screen and (min-width:960px) {
    .about .container .row:nth-child(even) {
        flex-direction: row;
    }

    .about .container .row:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

@media screen and (max-width:960px) {
    .about .container .row {
        flex-direction: column;
    }

    .about .container .row .col {
        width: 100%;
    }
}
