.about {
    background-color: #f8f8f8;
    padding: 3rem 1rem 3rem 1rem;
    width: 100%;
    height: 100vh;
    position: relative;
}

.about .container {
    width: 65%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
}

.about h2 {
    font-size: 3rem;
}

.about .icon {
    height: auto;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
}

.about .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.about button {
    margin-top: 1rem;
}

.about button a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width:940px) {
    .about .container {
        display: flex;
        flex-direction: column;
    }

    .about .icon {
        width: auto;
    }

    .about .container {
        width: 100%;
    }

    .about .container .col {
        padding: 0;
    }

    .about button {
        margin-bottom: 1rem;
    }
}
