.calendar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    /* background: url('../images/bgimg2.jpg') no-repeat center center/cover; */
    padding: var(--space-2xl);
}

.calendar .container {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--space-m);
}

.calendar .container .head {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: var(--space-l);
}

.calendar .container .head .title {

}

.calendar .container .head .buttons-wrapper {
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    align-items: center;
    column-gap: 80px;
}

.calendar .container .head .buttons {
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}

.calendar .container .head .buttons .button {
    padding: var(--space-s);
    border: none;
    cursor: pointer;
    display: inline-flex;
    font-size: var(--step--0);
    transition: 0.3s;
}

.calendar .container .head .buttons .button:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.calendar .container .head .buttons .selected {
    padding: var(--space-s);
    border: none;
    cursor: pointer;
    display: inline-flex;
    font-size: var(--step--0);
    transition: 0.3s;
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.calendar .container .week-header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.calendar .container .day-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(149, 157, 165, 0.7);
    border-top: 1px solid rgba(149, 157, 165, 0.7);
    border-bottom: 1px solid rgba(149, 157, 165, 0.7);
}

.calendar .container .day-header:last-child {
    border-right: 1px solid rgba(149, 157, 165, 0.7) ;
}

.calendar .container .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(149, 157, 165, 0.7);
}

.calendar .container .row .col {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(149, 157, 165, 0.7);
}

.calendar .container .row .col:last-child {
    border-right: 1px solid rgba(149, 157, 165, 0.7);
}
