*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 800px;
  font-family: sans-serif;
  background: #eee;
}

.content {
  padding-top: 32px;
  box-shadow: 0 16px 12px -12px rgba(0, 0, 0, 0.2);
}

.card {
  border: 1px solid #ccc;
  padding: 24px;
  background: white;
}

.card p {
  padding-bottom: 24px;
  line-height: 1.2em;
  letter-spacing: 0.04em;
}

.card p:last-child {
  padding-bottom: 0;
}

.tabBar {
  padding-left: 16px;
  position: relative;
  z-index: 10;
}

.tabBar-tab {
  padding: 6px 16px;
  display: inline-block;
  background: #ddd;
  border-bottom: 0;
  cursor: pointer;
  border-radius: 4px 4px 0 0;
  margin-right: 4px;
}

.tabBar-tab:hover {
  background: #eee;
}

.tabBar-tab.is-active {
  background: white;
  border-bottom: 1px solid white;
  margin-bottom: -1px;
}

/* Folder-style tab design */
.tabBar-tab {
  background: linear-gradient(0deg, #ccc, #ccc),
    radial-gradient(circle 7px at 6px -3px, transparent 6px, #ddd 6px),
    radial-gradient(circle 7px at 0px -3px, transparent 6px, #ddd 6px),
    radial-gradient(circle 7px at 0px 6px, #ddd 6px, transparent 6px),
    radial-gradient(circle 7px at 6px 6px, #ddd 6px, transparent 6px),
    linear-gradient(-110deg, transparent 34%, #ddd 36%),
    linear-gradient(110deg, transparent 34%, #ddd 36%),
    linear-gradient(90deg, transparent 17px, #ddd 17px, #ddd),
    linear-gradient(-90deg, transparent 17px, #ddd 17px, #ddd);
  background-size: 100% 1px, 6px 3px, 6px 3px, 6px 6px, 6px 6px, 14px 100%,
    14px 100%, 60% 100%, 60% 100%;
  background-position: left bottom, right 0px bottom 0px, left 0px bottom 0px,
    right 13px top 1px, left 13px top 1px, right 5px top 5px, left 5px top 5px,
    left 1px top 1px, right 1px top 1px;
  background-repeat: no-repeat;
}

.tabBar-tab.is-active {
  z-index: 21;
  background: linear-gradient(0deg, transparent, transparent),
    radial-gradient(circle 7px at 6px -3px, transparent 6px, #fff 6px),
    radial-gradient(circle 7px at 0px -3px, transparent 6px, #fff 6px),
    radial-gradient(circle 7px at 0px 6px, #fff 6px, transparent 6px),
    radial-gradient(circle 7px at 6px 6px, #fff 6px, transparent 6px),
    linear-gradient(-110deg, transparent 34%, #fff 36%),
    linear-gradient(110deg, transparent 34%, #fff 36%),
    linear-gradient(90deg, transparent 17px, #fff 17px, #fff),
    linear-gradient(-90deg, transparent 17px, #fff 17px, #fff);
  background-size: 100% 1px, 6px 3px, 6px 3px, 6px 6px, 6px 6px, 14px 100%,
    14px 100%, 60% 100%, 60% 100%;
  background-position: left bottom, right 0px bottom 0px, left 0px bottom 0px,
    right 13px top 1px, left 13px top 1px, right 5px top 5px, left 5px top 5px,
    left 1px top 1px, right 1px top 1px;
  background-repeat: no-repeat;
}

.tabBar-tab:hover {
  background: linear-gradient(0deg, #ccc, #ccc),
    radial-gradient(circle 7px at 6px -3px, transparent 6px, #eee 6px),
    radial-gradient(circle 7px at 0px -3px, transparent 6px, #eee 6px),
    radial-gradient(circle 7px at 0px 6px, #eee 6px, transparent 6px),
    radial-gradient(circle 7px at 6px 6px, #eee 6px, transparent 6px),
    linear-gradient(-110deg, transparent 34%, #eee 36%),
    linear-gradient(110deg, transparent 34%, #eee 36%),
    linear-gradient(90deg, transparent 17px, #eee 17px, #eee),
    linear-gradient(-90deg, transparent 17px, #eee 17px, #eee);
}
