.footer {
    width: 100%;
    height: 20vh;
    background-color: #372e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: flex-end;
}

.footer .container {
    height: 100%;
    width: 100%;
    background-color: #372e2e;
    display: flex;
}

.footer .container p {
    color: #f8f8f8;
}