.home {
    background-color: var(--overlay);
    color: #f8f8f8;
    min-height: 80vh;
    width: 100%;
    position: relative;
}

.home .parallax-img {
    content: '';
    background: url('../images/church-home.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.home .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    padding: var(--space-3xl);
}

.home .content .welcome {
    margin-top: 100px;
    width: 40%;
    max-width: 600px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--space-xl);
    backdrop-filter: blur(10px);
    background-color: #f8f8f822;
}

.home .content .welcome h5 {
    line-height: 1;
    margin-bottom: var(--space-2xs);
    font-style: italic;
    opacity: 0.9;
}
.home .content .welcome h2 {
    line-height: 1;
    margin-bottom: var(--space-s);
}
.home .content .welcome h4 {
    line-height: 1;
    margin-bottom: var(--space-m);
    opacity: 0.9;
}
.home .content .welcome h6 {
    margin-bottom: var(--space-xl);
    opacity: 0.7;
}

@media screen and (max-width: 960px) {
    .home .content {
        justify-content: center;
    }

    .home .content .welcome {
        width: 100%;
        max-width: 600px;
    }
}
