.header {
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: var(--secondary-dark);
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: auto;
    height: 100%;
    padding: 0 var(--space-l);
}

.header .navbar img {
    width: 250px;
    height: auto;
}

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 1rem;
}

.header .nav-item a {
    position: relative;
    padding: 15px 0;
    transition: all .5s;
    color: var(--bg-color);
    font-weight: 400;
}

.header .nav-item a:hover {
    cursor: pointer;
    color: var(--primary-color);
    font-weight: 600;
}

.header .nav-item a.active {
    color: var(--primary-color);
    font-weight: 600;
}

.header .logo {
    color: var(--bg-color);
    font-size: var(--step-1);
    cursor: pointer;
    font-weight: 600;
}

.hamburger {
    height: 100%;
    width: auto;
    display: none;
    color: var(--bg-color);
    justify-content: center;
    align-items: center;
    column-gap: var(--space-s);
}

.hamburger-icon {
    color: var(--bg-color);
    cursor: pointer;
}

.navbar .button {
    width: fit-content;
    padding: 12px 20px;
    font-weight: 400;
    font-size: var(--step-0);
    color: var(--bg-color);
    background-color: transparent;
    border: 3px solid var(--primary-color);
    border-radius: 20%/50%;
    cursor: pointer;
    transition-duration: 0.4s;
}

.navbar .button:hover {
    background-color: var(--primary-color);
}


@media screen and (max-width:960px) {
    .header {
        max-width: 100%;
    }

    .header .navbar {
        max-width: 100%;
    }

    .navbar .button:last-child {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .nav-menu {
        position: fixed;
        left: 100%;
        top: 80px;
        flex-direction: column;
        background-color: var(--secondary-dark);
        width: 50%;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: .5s;
        /* overflow-y: scroll; */
        padding: var(--space-l);
    }

    .nav-menu.active {
        left: 50%;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .header .navbar img {
        width: 150px;
    }
}















