.col-section {
    background-color: var(--bg-color);
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 160px;
    position: relative;
}

.col-section .row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--space-xl);
}

.col-section .row .col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 var(--space-xl);
}

.col-section .row .col .text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.col-section .row .col p {
    margin-bottom: var(--space-l);
    color: var(--text-color);
}

.col-section .row .col h4 {
    margin-bottom: var(--space-s);
    color: var(--text-color);
}

.col-section .row .col h4 .highlight {
    color: var(--accent);
}

.col-section .row .col .image {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.col-section .row .col .image img {
    aspect-ratio: 1.5;
    object-fit: cover;
    border-radius: 8px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.col-section .curve {
    position: absolute;
    top: -1px;
    left: 0;
}

@media screen and (min-width:1200px) {
    .col-section .row:nth-child(even) {
        flex-direction: row;
    }

    .col-section .row:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

@media screen and (max-width:1200px) {
    .col-section {
        row-gap: var(--space-2xl);
    }

    .col-section .row {
        flex-direction: column-reverse;
    }

    .col-section .row .col {
        padding: 0 var(--space-m);
    }

    .col-section .row .col .text h4 {
        margin-bottom: var(--space-xs);
    }
    
    .col-section .row .col .text p {
        margin-bottom: var(--space-m);
    }

    .col-section .row .col .image {
        max-width: 600px;
        margin-top: var(--space-l);
    }
}
