.col-section {
    background-color: var(--bg-color);
    padding: 8rem 0 ;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 80px;
    position: relative;
}

.col-section .row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--space-xl);
    padding: var(--space-s) 0;
}

.col-section .row .col {
    max-width: 600px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 var(--space-m);
}

.col-section .row .col .text {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    align-items: left;
}

.col-section .row .col p {
    margin-bottom: var(--space-l);
    color: var(--secondary-color);
}

.col-section .row .col h4 {
    /* font-weight: 700; */
    margin-bottom: var(--space-s);
    color: var(--secondary-color);
}

.col-section .row .col .h5 {
    font-size: var(--step-0);
    font-weight: 500;
    margin-bottom: 0;
    color: var(--secondary-color);
}

.image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.col-section .row .col .button {
    width: fit-content;
    padding: 12px 20px;
    font-weight: 500;
    font-size: var(--step-0);
    color: var(--secondary-dark);
    background-color: var(--bg-color);
    border: solid 3px;
    border-color: var(--primary-color);
    border-radius: 20%/50%;
    cursor: pointer;
    transition-duration: 0.4s;
}

.col-section .row .col .button:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

@media screen and (min-width:960px) {
    .col-section .row:nth-child(even) {
        flex-direction: row;
    }

    .col-section .row:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

@media screen and (max-width:960px) {
    .col-section {
        padding: 5rem 0;
        row-gap: 80px;
    }

    .col-section .row {
        flex-direction: column;
    }

    .col-section .row .col {
        width: 100%;
    }

    .col-section .row .col .text h4 {
        margin-bottom: var(--space-xs);
    }
    
    .col-section .row .col .text p {
        margin-bottom: var(--space-m);
    }

    .col-section .row .col .image {
        max-height: 300px;
        margin-bottom: var(--space-l);
    }
}
