.donate {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--secondary-color);
    /* padding: var(--space-2xl); */
}

.donate .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--space-m);
}

.donate .container .buttons {
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 20%/50%;
}

.donate .container .buttons .button {
    width: 40px;
}

.donate .container .buttons .button svg {
    width: inherit;
}
